---
---

<!--
represents introductory or navigational aids.
-->
<header>
    <h1>Main Page Title</h1>
    <img
        src="https://live-samples.mdn.mozilla.net/en-US/docs/Web/HTML/Element/header/mdn-logo-sm.png"
        alt="MDN logo"
    />
</header>
