---
const { doc, author, cite } = Astro.props;
---

<!--
indicates that the enclosed text is an extended quotation.
</style>
-->
<blockquote cite={cite} class="flex flex-col">
    <section class="rounded-t-xl text-xl p-4 flex-2/3 bg-gray-300 font-serif">
        <p class="p-4">
            <span class="font-bold">"</span>
            <span class="font-thin italic"><slot /></span>
            <span class="font-bold">"</span>
        </p>
    </section>
    <section class="rounded-b-xl p-4 flex-1/3 bg-gray-600 text-gray-400">
        <footer>
            - {author}, <cite>
                <a class="hover:text-gray-900" href={cite}>{doc}</a></cite
            >
        </footer>
    </section>
</blockquote>
