---
---

<!--
represents an ordered/unordered list of items
-->
<ol>
    <li>Mix flour, baking powder, sugar, and salt.</li>
    <li>In another bowl, mix eggs, milk, and oil.</li>
    <li>Stir both mixtures together.</li>
    <li>Fill muffin tray 3/4 full.</li>
    <li>Bake for 20 minutes.</li>
</ol>

<ul>
    <li>Milk</li>
    <li>
        Cheese
        <ul>
            <li>Blue cheese</li>
            <li>Feta</li>
        </ul>
    </li>
</ul>

<style>
    li {
        font: 1rem "Fira Sans", sans-serif;
        margin-bottom: 0.5rem;
    }
</style>
