---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body class="mx-auto flex flex-col justify-between max-w-prose p-4 h-screen">
        <Header />
        <div class="flex-grow"> 
        <h1 class="text-3xl mt-8 mb-4">{pageTitle}</h1>
            <slot />
        </div>
        <Footer />
    </body>
</html>
