---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<!-- Styling for blog post layouts -->
<style>
    .tags {
        display: flex;
    }

    .tags > p {
        font-size: 14px;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 10px;
        border: 2px solid #2e2e2e;
    }

    .tags > p:hover,
    .tags > p:active {
        background-color: #2e2e2e;
        cursor:pointer;
        color: #ffffff;
    }
</style>

<BaseLayout pageTitle={frontmatter.title}>

    <!-- Description of the blog -->
    <p>{frontmatter.description}</p>

    <!-- Tags -->
    <div class="tags">
        {frontmatter.tags.map((tag) => <p class="tags">#{tag}</p>)}
    </div>

    <!-- Markdown Content -->
    <slot />
</BaseLayout>
