---
const { url } = Astro.props;
const title = "Lorem Ipsum";
const links = ["about", "projects", "contact"];
---

<!--
represents introductory or navigational aids.
-->
<header class="px-4 py-2 w-auto bg-gray-600 rounded-xl">
    <a href="/">
        <h1
            class="underline decoration-wavy underline-offset-4 decoration-1 text-gray-50 text-2xl decoration-sky-500 font-bold"
        >
            {title}

            <i class="align-middle text-4xl text-gray-50 material-icons"
                >coffee</i
            >
        </h1>
    </a>
    <nav class="p-2">
        <ul class="flex w-full font-semibold text-gray-400 uppercase">
            <li class="nav-link mx-1 hover:text-gray-900">
                <a class={url === "/" ? "text-gray-800" : ""} href="/">Home</a>
            </li>

            {
                links.map((link, index) => (
                    <li class="nav-link mx-1 hover:text-gray-800">
                        <a
                            class={url === link ? "text-gray-800" : ""}
                            href={link}
                        >
                            {link}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
