---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Article from "../../components/Article.astro";
import DescList from "../../components/DescList.astro";

const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

export async function getStaticPaths() {
    const allPosts = await Astro.glob("../posts/*.md");
    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.frontmatter.tags.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout url="blog">
    <Article title="Tags">
        <section class="flex flex-wrap my-6">
            {
                tags.map((t) => (
                    <a
                        class={
                            tag === t
                                ? "m-1 px-2 py-1 decoration-2 bg-zinc-900 dark:bg-zinc-100 border border-zinc-800 rounded-xl dark:border-zinc-200 no-underline prose-invert dark:prose"
                                : "m-1 px-2 py-1 decoration-2 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 rounded-xl dark:border-zinc-800 hover:border-zinc-900 hover:dark:border-zinc-100 no-underline transition duration-300 ease-in"
                        }
                        href={`/tags/${t}`}
                    >
                        {t}
                    </a>
                ))
            }
        </section>

        <DescList
            descriptions={posts.map((post) => ({
                term: post.frontmatter.title,
                url: post.url,
                def: post.frontmatter.description,
            }))}
        />
    </Article>
</BaseLayout>
