---
const url = "about";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import Hgroup from "../components/Hgroup.astro";
import List from "../components/List.astro";
---

<BaseLayout url={url}>
    <Article title="About Me">
        <p>
            I am an independent contractor based out of the city of water falls
            ~ <a href="https://en.wikipedia.org/wiki/Ranchi"> Ranchi</a>.
            Currently working with an NGO, to build tools and experiences for
            educators and learners.
        </p>

        <Hgroup heading="What else ?">
            If you want to know more about me, you can check the links below. I
            often write to organise my thoughts, and below is an attempt in the
            same direction.
        </Hgroup>

        <List
            links={[
                {
                    label: "Philosophy",
                    url: " /about/philosophy/",
                },
                {
                    label: "Hobbies",
                    url: " /about/hobbies/",
                },
                {
                    label: "Favorites",
                    url: "/about/favorites/",
                },
            ]}
        />
    </Article>

    <Article title="Hire Me!">
        <p>
            Want to work together ? Check out my resume, and if it floats your
            boat, we can hit the ground running.
        </p>
    </Article>
</BaseLayout>
