---
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import DescList from "../components/DescList.astro";

const url = "blog";
const meta =
    "Welcome to Sourav's Blogosphere! Enjoy a generous serving of captivating articles, Wild perspectives (finely chopped) and a sprinkle of humor, to taste.";

const allPosts = await Astro.glob("./posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout {url} {meta}>
    <Article title="Blogs">
        <section class="flex flex-wrap my-6">
            {
                tags.map((tag) => (
                    <a
                        class="m-1 px-2 py-1 bg-zinc-100 dark:bg-zinc-900 border-2 border-zinc-200 rounded-xl dark:border-zinc-800 hover:border-zinc-900 hover:dark:border-zinc-100 no-underline transition duration-300 ease-in"
                        href={`/tags/${tag}`}
                    >
                        {tag}
                    </a>
                ))
            }
        </section>

        <DescList
            descriptions={allPosts.map((post) => ({
                term: post.frontmatter.title,
                url: post.url,
                def: post.frontmatter.description,
            }))}
        />
    </Article>
</BaseLayout>
