---
const url = "/";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import Socials from "../components/Socials.astro";
---

<BaseLayout url={url}>
    <Article title="Hey, I'm Sourav!" desc="Welcome to my digital abode.">
        <p>
            I'm a software contractor based out of Ranchi. Currently working
            with Quest Alliance to build learning solutions. I like sci-fi,
            basketball, reading and gaming. I also
            <a class="underline hover:underline underline-offset-2" href="/blog"
                >write</a
            > and
            <a
                class="underline hover:underline underline-offset-2"
                href=" www.youtube.com/@commitsovercoffee">youtube</a
            >
            sometimes.
        </p>

        <p>
            Find me on
            <Socials platform="github" username="commitsovercoffee" />,
            <Socials platform="twitter" username="commitsovercoffee" /> and
            <Socials platform="youtube" username="commitsovercoffee" />.
        </p>
    </Article>
</BaseLayout>
