---
const url = "/";
import BaseLayout from "../layouts/BaseLayout.astro";
import Address from "../components/Content/Address.astro";
import Article from "../components/Content/Article.astro";
import Aside from "../components/Content/Aside.astro";
import Hgroup from "../components/Content/Hgroup.astro";
import BlockQuote from "../components/Text/BlockQuote.astro";
---

<BaseLayout url={url}>
    <h1 class="my-4">Address :</h1>
    <Address
        socials={[
            { platform: "github", username: "commitsovercoffee" },
            { platform: "youtube", username: "@commitsovercoffee" },
        ]}
    />

    <h1 class="my-4">Article :</h1>
    <Article title="Title for an Article component.">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus,
        dicta sunt nam autem nihil architecto deleniti similique laborum ullam,
        perspiciatis quibusdam praesentium adipisci placeat soluta. Voluptate
        autem voluptates natus animi.
    </Article>

    <h1 class="my-4">Aside :</h1>
    <Aside>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
        ducimus assumenda qui libero fugiat quam, a sed est ratione omnis
        facilis error quae autem magnam quas iste et nulla? Nobis.
    </Aside>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed velit quidem
    facilis voluptatem vitae soluta molestias quae maxime impedit repellendus
    animi corporis, dignissimos saepe ipsa non rerum culpa id corrupti?

    <h1 class="my-8">Footer : ( Look at bottom of the page. )</h1>

    <h1 class="my-8">Header + Nav : ( Look at top of the page.)</h1>

    <h1 class="my-8">Hgroup :</h1>

    <Hgroup heading="Frankenstein">
        consequatur, fugiat quaerat inventore impedit accusantium cumque ipsam
        asperiores expedita itaque eligendi. asperiores expedita itaque
        eligendi.
    </Hgroup>
    <h1 class="my-8">blockquote :</h1>

    <BlockQuote
        doc="Brave New World"
        cite="https://www.huxley.net/bnw/four.html"
        author="Aldous Huxley"
    >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et cupiditate
        blanditiis corrupti ullam quo, libero non quaerat debitis assumenda
        sapiente vel totam velit ipsum. Temporibus harum ab facere nobis,
        accusantium perferendis necessitatibus illo suscipit praesentium ut,
        odio explicabo voluptatum fugiat?
    </BlockQuote>
</BaseLayout>
