---
const url = "/";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
---

<BaseLayout url={url}>
    <Article title="Hey, I'm Sourav!" desc="Welcome to my digital abode.">
        <p>
            I'm a software contractor based out of Ranchi. Currently working
            with Quest Alliance to build learning solutions. I like sci-fi,
            basketball, reading and gaming. I also
            <a href="/blog">write</a> and
            <a href="https:youtube.com/@commitsovercoffee">youtube</a> sometimes.
        </p>

        <p>
            Find me on
            <a href="https:twitter.com/hey_coc">twitter</a>,
            <a href="https:github.com/commitsovercoffee">github</a> and
            <a href="https:youtube.com/@commitsovercoffee">youtube</a>.
        </p>
    </Article>
</BaseLayout>
