---
const url = "projects";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import Project from "../components/Project.astro";
---

<BaseLayout url={url}>
    <Article title="Projects">
        <section class="flex flex-wrap justify-center">
            <Project
                name="Hope"
                desc="scripts & dot files for my arch setup."
                repo="hope"
            />
            <Project
                name="Suckless"
                desc="pre-patched suckless apps."
                repo="suckless"
            />
            <Project
                name="commitsovercoffee.com"
                desc="source of this website."
                repo="personal-website"
            />
        </section>
    </Article>
</BaseLayout>
