---
const url = "projects";
const meta =
    "Explore Sourav's projects page, a collection of standout creations accompanied by gitHub links and demo showcases.";
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import Project from "../components/Project.astro";
---

<BaseLayout {url} {meta}>
    <Article title="Projects">
        <section class="flex flex-wrap justify-center">
 	   <Project
                name="Instant Resume"
                repo="instant-resume"
                desc="Web app to create polished resumes instantly, written in svelte."
            />
    	    <Project
                name="Minima Nvim"
                repo="minima-nvim"
                desc="Highly opinionated yet flexible base configuration for neovim writte in lua."
            />
            <Project
                name="Key Probe"
                repo="key-probe"
                desc="Web app to diagnose computer keyboards for unresponsive keys and ghosting."
                demo="https://key-probe.commitsovercoffee.com"
            />

            <Project
                name="Hope"
                repo="hope"
                desc="Scripts and dot files to setup and document my ever evolving arch setup."
            />

            <Project
                name="Suckless"
                repo="suckless"
                desc="Pre-patched suckless apps."
            />
            <Project
                name="Personal Website"
                repo="personal-website"
                desc="Source of this website."
                demo="https://commitsovercoffee.com"
            />

        </section>
    </Article>
</BaseLayout>
