---
import Social from './Social.astro';
const platform = "github";
const username = "withastro";
---
<footer class="flex my-4 p-4 space-x-8">
  <p>Find me on ...</p>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
</footer>
