---
import Hamburger from "../components/header/Hamburger.astro";
import Navigation from "../components/header/Navigation.astro";
import ThemeIcon from "../components/header/ThemeIcon.astro";
---

<header>
    <nav class="mt-8">
        <div class="float-right m-4">
            <ThemeIcon />
            <Hamburger />
        </div>
        <h1
            class="decoration-wavy text-gray-50 p-0 m-0 text-4xl leading-relaxed leading-42 underline decoration-sky-500 font-bold"
        >
            <i class="mx-4 align-middle text-5xl text-gray-50 material-icons"
                >coffee</i
            >Commits Over Coffee
        </h1>
        <Navigation />
    </nav>
</header>
