---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header>
    <nav>
        <div class="flex m-4 p-2 justify-between"> 
        <Hamburger />
        <ThemeIcon />
        </div>
        <Navigation />
    </nav>
</header>
