---
const { pageTitle } = Astro.props;
import Hamburger from "../components/header/Hamburger.astro";
import Navigation from "../components/header/Navigation.astro";
import ThemeIcon from "../components/header/ThemeIcon.astro";
---

<header>
    <nav class="flex justify-between">
        <div class="flex flex-col justify-around">
            <a
                href="/"
                class="underline decoration-wavy text-gray-50 text-2xl decoration-sky-500 font-bold"
                >Commits Over
                <i class="align-middle text-4xl text-gray-50 material-icons"
                    >coffee</i
                >
            </a>
            <Navigation
                links={[
                    {
                        label: "about",
                        url: "/about/",
                    },

                    {
                        label: "blog",
                        url: "/blog/",
                    },

                    {
                        label: "tags",
                        url: "/tag/",
                    },
                ]}
            />
        </div>

        <div class="mx-4 p-2 m-2">
            <ThemeIcon />
            <Hamburger />
        </div>
    </nav>
</header>
