---
import Hamburger from "../components/header/Hamburger.astro";
import Navigation from "../components/header/Navigation.astro";
import ThemeIcon from "../components/header/ThemeIcon.astro";
---

<header>
    <nav class="flex justify-between mt-8 mb-4">
        <h1 class="basis-3/4  decoration-wavy p-4 mt-4 text-4xl leading-relaxed leading-42 underline decoration-sky-500 font-bold">Commits Over Coffee</h1>
        <div class="basis-1/4 flex justify-around p-4">
            <ThemeIcon />
            <Hamburger />
        </div>
    </nav>
            <Navigation />
</header>
