---
const { links } = Astro.props;
---

<!-- List Section --->
<ul class="list-disc my-4 ml-4">
    {
        links.map((link) => (
            <li class="my-2">
                <a href={link.url}>
                    <i
                        class={
                            link.hasOwnProperty("url")
                                ? "hover:underline text-sky-500 decoration-sky-500"
                                : "pointer-events-none text-zinc-300"
                        }
                    >
                        {link.label}
                    </i>
                    <span class="text-zinc-500">{link.content}</span>
                </a>
            </li>
        ))
    }
</ul>

<!-- Usage

    <ListSection
        links={[
            {
                label: "",
                url:""
                content:""
            },
        ]}
    />

-->
