---
const { links } = Astro.props;
---

<!-- List Section --->
<ul class="list-disc my-4 ml-4">
    {
        links.map((link) => (
            <li class="my-2">
                <a
                    class={
                        link.hasOwnProperty("url")
                            ? "hover:underline text-sky-500 decoration-sky-500"
                            : "pointer-events-none text-zinc-500"
                    }
                    href={link.url}
                >
                    <i class="text-zinc-300">{link.label}</i>
                    {link.content}
                </a>
            </li>
        ))
    }
</ul>

<!-- Usage

    <ListSection
        links={[
            {
                label: "",
                url:"",
                content:""
            },
        ]}
    />

-->
