
html.dark {
  background-color: #1d1f21;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}



