---
const { socials } = Astro.props;
---

<!---
contact info for a person or an org.
-->
<address class="p-4 my-4 rounded-xl bg-gray-600 w-fit">
    {
        socials.map((social) => (
            <a
                class="text-gray-50 hover:underline decoration-1 p-2"
                href={`https://www.${social.platform}.com/${social.username}`}
            >
                {social.platform}
            </a>
        ))
    }
</address>
