---
---

<!--
sidebar/call-out box whose content is only indirectly related to main content.
-->
<aside
    class="float-right p-2 ml-4 mr-2 text-xs w-1/3 text-zinc-900 bg-zinc-400 italic shadow-inner shadow-zinc-900 rounded-xl"
>
    <p class="p-2">
        <slot />
    </p>
</aside>
