---
const { descriptions, upperCase } = Astro.props;
---

<!--
provides the description, definition, or value for the preceding term (<dt>) in a description list (<dl>).
-->
<dl class="">
    {
        descriptions.map((description) => (
            <>
                <dt
                    class={
                        upperCase === "true"
                            ? "font-bold text-2xl uppercase"
                            : "font-bold text-2xl"
                    }
                >
                    <a
                        class={
                            description.hasOwnProperty("url")
                                ? "underline decoration-2 decoration-transparent hover:decoration-[#18181b] hover:dark:decoration-white transition duration-300 delay-50 ease-in"
                                : "underline decoration-2 decoration-transparent pointer-events-none"
                        }
                        href={description.url}
                    >
                        {description.term}
                    </a>
                </dt>
                <dd class="ml-8 mb-8 text-zinc-400">{description.def}</dd>
            </>
        ))
    }
</dl>
