---
const { descriptions, upperCase } = Astro.props;
---

<!--
provides the description, definition, or value for the preceding term (<dt>) in a description list (<dl>).
-->
<dl class="">
    {
        descriptions.map((description) => (
            <>
                <dt
                    class={
                        upperCase === "true"
                            ? "font-sans text-xl uppercase"
                            : "font-sans text-xl"
                    }
                >
                    <a
                        class={
                            description.hasOwnProperty("url")
                                ? "underline decoration-2 dark:decoration-white decoration-zinc-900 underline-offset-4 hover:no-underline transition duration-300 delay-50 ease-in"
                                : "pointer-events-none"
                        }
                        href={description.url}
                    >
                        {description.term}
                    </a>
                </dt>
                <dd class="ml-8 mb-8">{description.def}</dd>
            </>
        ))
    }
</dl>
