---
---

<!--
footer for its nearest ancestor.
-->
<footer
    class="p-2 bottom-0 left-0 fixed w-screen bg-zinc-900 text-zinc-500 text-center"
>
    <p>
        <small>
            <slot />
        </small>
    </p>
</footer>
