---
---

<!--
footer for its nearest ancestor.
-->
<footer
    class="object-bottom fixed bottom-0 left-0 w-screen bg-zinc-900 text-zinc-500 text-center"
>
    <p class="text-xs">
            <slot />
    </p>
</footer>
