---
const { url } = Astro.props;
const title = "Commits Over Coffee";
const links = ["projects", "blog", "about"];
---

<header class="p-2 mt-8">
    <nav> 
        <div class="flex my-2"> 
            <a href="/" class="no-underline text-3xl grow-0 font-sans flex items-center p-o m-0 -teal-100 my-0">
            <img src="/favicon.png" alt="" class="h-8 mx-4 my-0">
            {title}
            </a>
        </div>

        <ul class="flex uppercase list-none m-0 p-0 font-sans">
            <li>
                <a
                    class={url === "/"
                        ? "p-2 mr-2 rounded-xl transition duration-300 delay-50 ease-in underline decoration-2 underline-offset-8"
                        : "p-2 mr-2 hover:bg-zinc-800 hover:dark:bg-zinc-300 hover:prose-invert hover:dark:prose rounded-xl transition duration-300 delay-50 ease-in no-underline"}
                    href="/">Home</a
                >
            </li>

            {
                links.map((link) => (
                    <li>
                        <a
                            class={
                                url === link
                        ? "p-2 mr-2 rounded-xl transition duration-300 delay-50 ease-in underline decoration-2 underline-offset-8"
                        : "p-2 mr-2 hover:bg-zinc-800 hover:dark:bg-zinc-300 hover:prose-invert hover:dark:prose rounded-xl transition duration-300 delay-50 ease-in no-underline"}
                            }
                            href={`/${link}`}
                        >
                            {link}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
