---
const { url } = Astro.props;
const title = "Commits Over";
const links = [ "projects","blog","about"];
---

<!--
represents introductory or navigational aids.
-->
<header class="p-4 mb-16 w-auto text-zinc-300 rounded-xl">
    <a href="/">
        <h1 class="text-2xl text-zinc-300 font-bold p-2">
            {title}
            <i class="align-middle text-4xl material-icons">coffee</i>
        </h1>
    </a>
    <nav class="mt-4">
        <ul class="my-2 flex w-full font-normal uppercase text-zinc-500">
            <li
            >
                <a
                    class={url === "/"
                        ? "px-4 mr-2 py-2 hover:bg-zinc-800 rounded-xl underline-offset-8 decoration-2 transition duration-300 delay-50 ease-in underline-2 underline text-zinc-50"
                        : "px-4 mr-2 py-2 hover:bg-zinc-800 rounded-xl underline-offset-8 decoration-2 transition duration-300 delay-50 ease-in"}
                    href="/">Home</a
                >
            </li>

            {
                links.map((link) => (
                    <li
                    >
                        <a
                            class={
                                url === link

                        ? "px-4 mr-2 py-2 hover:bg-zinc-800 rounded-xl underline-offset-8 decoration-2 transition duration-300 delay-50 ease-in underline-2 underline text-zinc-50"
                        : "px-4 mr-2 py-2 hover:bg-zinc-800 rounded-xl underline-offset-8 decoration-2 transition duration-300 delay-50 ease-in"}


                            }
                            href={`/${link}`}
                        >
                            {link}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
