---
const { url } = Astro.props;
const title = "Commits Over";
const links = ["about", "projects", "contact"];
---

<!--
represents introductory or navigational aids.
-->
<header class="px-4 py-2 mb-24 w-auto text-zinc-300 rounded-xl">
    <a href="/">
        <h1 class="text-2xl font-bold p-2">
            {title}

            <i class="align-middle text-4xl material-icons">coffee</i>
        </h1>
    </a>
    <nav>
        <ul class="mt-2 flex w-full font-normal uppercase text-zinc-500">
            <li
                class="px-4 mx-2 py-2 hover:bg-zinc-900 rounded-xl underline-offset-8 decoration-2 transition duration-300 delay-50 ease-in"
            >
                <a
                    class={url === "/"
                        ? "underline-2 underline text-zinc-50"
                        : ""}
                    href="/">Home</a
                >
            </li>

            {
                links.map((link) => (
                    <li class="px-2 mx-2 py-2 hover:bg-zinc-900 rounded-xl underline-offset-8 decoration-2 transition duration-300 delay-50 ease-in">
                        <a
                            class={
                                url === link
                                    ? "underline-2 underline text-zinc-50"
                                    : ""
                            }
                            href={link}
                        >
                            {link}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
