---
import { literal } from "astro/zod";
const { links } = Astro.props;
---

<!-- List Section --->
<ul class="list-none my-4">
    {
        links.map((link) => (
            <li class="p-2 text-zinc-400">
                <a href={link.url} class="font-medium">
                    <span
                        class={ 
                            link.hasOwnProperty("url")
                                ? "hover:underline decoration-1 my-2"
                                : "pointer-events-none"
                        }
                    >
                        {link.label}
                    </span>
                </a>
                <span class="text-zinc-600">{link.content}</span>
            </li>
        ))
    }
</ul>

