---
const { links } = Astro.props;
---

<!-- List Section --->
<ul class="list-none">
    {
        links.map((link) => (
            <li class="p-2 my-1 text-zinc-100">
                <a href={link.url}>
                    <span class="material-icons text-base align-bottom">
                        check
                    </span>
                    <i
                        class={
                            link.hasOwnProperty("url")
                                ? "hover:underline decoration-1"
                                : "pointer-events-none"
                        }
                    >
                        {link.label}
                    </i>
                </a>
                <span class="text-zinc-400">{link.content}</span>
            </li>
        ))
    }
</ul>
