---
const { name, desc, demo, repo } = Astro.props;
---

<div class="p-4 m-4 flex-grow w-60 rounded-xl bg-zinc-800 overflow-hidden">
    <h1 class="p-2 text-xl text-zinc-100 font-bold">{name}</h1>
    <p class="p-2 text-zinc-500 text-left">{desc}</p>
    <section class="flex mt-4">
        {
            demo && (
                <a
                    href={demo}
                    class="hover:border-zinc-100 border border-zinc-500 duration-300 ease-in px-2 py-1 m-1 rounded-xl text-zinc-300 bg-zinc-800 cursor-pointer"
                >
                    Demo
                </a>
            )
        }
        <a
            href={`https://github.com/commitsovercoffee/${repo}`}
            class="hover:border-zinc-100 border border-zinc-500 duration-300 ease-in px-2 py-1 m-1 rounded-xl text-zinc-300 bg-zinc-800 cursor-pointer"
            >Source</a
        >
    </section>
</div>
