---
const title = "Commits Over Coffee";
const { url, meta } = Astro.props;

import "@fontsource/contrail-one";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/vollkorn";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!-- 
Loads for each page, for a consistent look & feel. 
--><!DOCTYPE html>
<html lang="en">
    <!-- metadata & scripts -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={meta} />
        <link rel="icon" href="/favicon.png" />

        <title>{title}</title>
    </head>
    <!-- visible content of the page -->
    <body
        class="font-serif bg-zinc-100 dark:bg-zinc-900 prose prose-zinc dark:prose-invert max-w-prose mx-auto mb-32"
    >
        <!-- page headings and nav links -->
        <Header url={url} />
        <main class="my-16">
            <!-- visiting page content -->
            <slot />
        </main>
        <!-- website footer -->
        <Footer>All rights reserved.</Footer>
    </body>
</html>
