---
const { url } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <title>Lorem Ipsum</title>
    </head>
    <Header url={url} />
    <body class="mx-auto max-w-prose p-4 mt-8 mb-32 bg-zinc-800 ">
        <main>
            <slot />
        </main>
    </body>
    <Footer>Lorem ipsum dolor sit amet.{url}</Footer>
</html>
