---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lorem Ipsum</title>
    </head>
    <body class="mx-auto max-w-prose p-4 m-4 bg-gray-400">
        <slot></slot>
    </body>
</html>
