---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import Article from "../components/Article.astro";
---

<BaseLayout>
    <Article title={frontmatter.title}>
        <div class="tags">
            <section class="flex">
                {
                    frontmatter.tags.map((tag) => (
                        <a
                            class="p-1 m-1 text-zinc-700 bg-zinc-300 hover:bg-zinc-700 hover:text-zinc-300 rounded-xl"
                            href={`/tags/${tag}`}
                        >
                            {tag}
                        </a>
                    ))
                }
                <!-- Markdown Content -->
            </section>

            <slot />
        </div>
    </Article>
</BaseLayout>
