---
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionSubtitle from "../components/SectionSubtitle.astro";
import Divider from "../components/Divider.astro";
import Link from "../components/Link.astro";
const pageTitle = "About Me";
const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = 800;
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <SectionTitle text="About Me" />
    <p>
        Sourav is a curious and creative individual who enjoys exploring
        abstract concepts and ideas. He has a strong sense of purpose and works
        hard to achieve his goals. While preferring structure and planning,
        Sourav is also open-minded and empathetic, making it easy for him to
        mingle with others.
    </p>
    <Divider />
    <p>
        He prefers a small and close-knit social circle, and although strategic,
        He cares about others. Sourav is emotionally stable, able to remain calm
        and level-headed in stressful situations and takes time to unwind and
        recharge.
    </p>

    <SectionSubtitle text="What Else ?" />
    <p>
        Listen up folks, if you want to know anything else about me, don't
        bother asking because I've got it all covered! Everything you need to
        know about my life, my interests, my hobbies, and my weird quirks can be
        found in the links down below. So, save yourself the trouble and give
        those bad boys a click. Trust me, it'll be worth it (or at least mildly
        entertaining).
    </p>

    <SectionSubtitle text="Hire Me !" />
    <p>
        Looking for a skilled software developer with a sense of humor? Look no
        further! Check out my resume and professional work
        <Link text="here" link="www.google.com" />
        and let's chat about how I can bring some fun and functionality to your team.
    </p>
</BaseLayout>
