---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My astro learning blogs";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Welcome to my blog, where I pretend to be an expert on things I know very little about.</p><br>
    <ul>
    {allPosts.map((post)=> <li> <a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>
