---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My astro learning blogs";
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li><a href="/posts/post">Sample Post</a></li>
        <li><a href="/posts/post">Sample Post</a></li>
        <li><a href="/posts/post">Sample Post</a></li>
    </ul>
</BaseLayout>
