---
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionSubtitle from "../components/SectionSubtitle.astro";
import Divider from "../components/Divider.astro";
import Link from "../components/Link.astro";
import ListSection from "../components/ListSection.astro";
---

<BaseLayout>
    <SectionTitle text="Favorites" />

    <p>
        Welcome to my favorite things page! If you're here, you're either genuinely interested in what makes me tick or you've got nothing better to do. Either way, buckle up because you're in for a wild ride. I can promise you that my favorite things are not your average run-of-the-mill hobbies or interests. Nope, my taste is more eclectic than a thrift store on acid. So, let's dive in ...
    </p>
    <Divider />

    <SectionSubtitle text="What Else ?" />
</BaseLayout>
