---
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionSubtitle from "../components/SectionSubtitle.astro";
import Divider from "../components/Divider.astro";
import Card from "../components/Card.astro";
---

<BaseLayout>
    <SectionTitle text="Favorites" />

    <p>
        Welcome to my favorite things page! If you're here, you're either
        genuinely interested in what makes me tick or you've got nothing better
        to do. Either way, buckle up because you're in for a wild ride. I can
        promise you that my favorite things are not your average run-of-the-mill
        hobbies or interests. Nope, my taste is more eclectic than a thrift
        store on acid. So, let's dive in ...
    </p>
    <Divider />

    <SectionSubtitle text="What Else ?" />

    <Card
        alt="Silicon Valley Poster"
        ,
        img="https://www.indiewire.com/wp-content/uploads/2017/03/silicon-valley-season-4daniel-clowes-poster.jpg"
        ,
        title="The Silicon Valley"
        ,
        content="The Silicon Valley, my dear friend, is a comedy goldmine that's worth its weight in bitcoins! It's a show about a group of socially awkward tech geeks trying to make it big in the world of startups, and let me tell you, it's a hilariously wild ride from start to finish. The characters in this show are absolutely priceless. You've got the genius coder who can't seem to talk to humans without insulting them, the nerdy engineer who's so awkward he can barely form a sentence, and the business guy who's just trying to keep the ship afloat (while also dealing with his own personal demons). It's a recipe for disaster, and that's exactly what makes it so darn funny. The show is also incredibly relatable. Who among us hasn't felt like an awkward outsider trying to make it in a world where we don't quite fit in? The Silicon Valley captures that feeling perfectly, while also delivering some seriously biting satire about the tech industry and the culture that surrounds it."
    />
</BaseLayout>
