---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page !"
---

<BaseLayout pageTitle={pageTitle}> 

<p>Sit fugit nisi quae architecto ut alias tempora! Iste non voluptate officia quam eveniet. Iusto vel sapiente dolores quo delectus.</p>

</BaseLayout>
