---
import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hello!";
---

<script>
    window.onload = function () {
        fetch("https://official-joke-api.appspot.com/random_joke")
            .then((response) => response.json())
            .then((data) => {
                const jokeElement = document.getElementById("joke");
                jokeElement.innerHTML = `${data.setup} ${data.punchline}`;
            });
    };
</script>

<BaseLayout pageTitle={pageTitle}>
    <p class="text-gray-400 my-8 text-base">
        You have found my corner of the internet, and I'm glad you're here. It's
        still in its early days, I'll experiment with some ideas and see what
        sticks. Thanks for visiting and stay tuned!
    </p>

    <h1 class="text-2xl my-8">What next ?</h1>

    <p class="text-gray-400 my-8 text-base" onload="getJoke()">
        Explore the site ... or read the joke below :<br><br>
    <span class="max-w-prose italic text-sm text-sky-500" id="joke">... ahhh</span>
    </p>

    <p class="text-gray-400 my-8">
        Find me on ...
        <Social platform="twitter" username="astrodotbuild" />,
        <Social platform="github" username="withastro" />
        and <Social platform="youtube" username="astrodotbuild" />
    </p>
</BaseLayout>
