---
import Social from "../components/Social.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Divider from "../components/Divider.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SectionSubtitle from "../components/SectionSubtitle.astro";
const pageTitle = "Hello!";
---

<script>
    window.onload = function () {
        fetch("https://official-joke-api.appspot.com/random_joke")
            .then((response) => response.json())
            .then((data) => {
                const jokeElement = document.getElementById("joke");
                jokeElement.innerHTML = `${data.setup} ${data.punchline}`;
            });
    };
</script>

<BaseLayout>
    <SectionTitle text="Hello !" />
    <p>
        Welcome to my website! I hope you're ready to have your mind blown and
        your funny bone tickled. You've stumbled upon the digital lair of yours
        truly, the one and only (well, maybe not the only, but definitely one of
        a kind) <i class="text-sky-500"> Sourav Singh.</i>
    </p>
    <Divider />
    <p>
        So, kick off your shoes, grab some popcorn (or chips, or whatever snack
        floats your boat), and let's embark on a journey through my digital
        world. Just be warned, there may be some questionable humor and
        shameless self-promotion ahead.
    </p>

    <SectionSubtitle text="What Next ?" />

    <p class="text-gray-400 my-2 text-base" onload="getJoke()">
        Explore the site ... or read the joke below :<br /><br />
        <span class="max-w-prose italic text-sm text-sky-500" id="joke"
            >... ahhh</span
        >
    </p>

    <p class="text-gray-400 my-8">
        Find me on ...
        <Social platform="twitter" username="astrodotbuild" />,
        <Social platform="github" username="withastro" />
        and <Social platform="youtube" username="astrodotbuild" />
    </p>
</BaseLayout>
