---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
const identity = {
    firstName: "Sarah",
    country: "Canada",
    occupation: "Technical Writer",
    hobbies: ["photography", "birdwatching", "baseball"],
};
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        I am working on ...
    </p>

</BaseLayout>
