---
---

<!--
represents an abbreviation or acronym.
-->
<p>
    You can use <abbr>CSS</abbr> (Cascading Style Sheets) to style your <abbr
        >HTML</abbr
    > (HyperText Markup Language). Using style sheets, you can keep your <abbr
        >CSS</abbr
    > presentation layer and <abbr>HTML</abbr> content layer separate. This is called
    "separation of concerns."
</p>

<p>Ashok's joke made me <abbr title="Laugh Out Loud">LOL</abbr> big time.</p>


<style>
    abbr {
        font-style: italic;
        color: chocolate;
    }
</style>
