---
---

<!--
with its href attribute, creates a hyperlink to web pages, files, email addresses, locations in the same page.
-->
<p>You can reach Michael at:</p>

<ul>
    <li><a href="https://example.com">Website</a></li>
    <li><a href="mailto:m.bluth@example.com">Email</a></li>
    <li><a href="tel:+123456789">Phone</a></li>
</ul>

<style>
    li {
        margin-bottom: 0.5rem;
    }
</style>
