---
---

<!--
draw the reader's attention to the element's contents, which are not otherwise granted special importance.
Do not use <b> for styling text
-->
<p>
    This article describes several <b class="keywords">text-level</b> elements. It
    explains their usage in an <b class="keywords">HTML</b> document.
</p>
Keywords are displayed with the default style of the
<b>element, likely in bold.</b>
