---
---

<!--
displays its contents styled like computer code.
By default, the content text is displayed using the user agent's default monospace font.
-->
<p>
    The <code>push()</code> method adds one or more elements to the end of an array
    and returns the new length of the array.
</p>

<style>
    code {
        background-color: #eee;
        border-radius: 3px;
        font-family: courier, monospace;
        padding: 0 3px;
    }
</style>
