---
const { keys } = Astro.props;
---

<!--
represents a span of inline text denoting textual user input .
-->
<span>
    {
        keys.map((key) => (
            <kbd class="inline p-1 m-1 rounded bg-gray-50 text-xs shadow-black shadow">
                {key}
            </kbd>
        ))
    }
</span>
